[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "fastgltf"]
	path = fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "vk-bootstrap"]
	path = vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
