# Visual Studio local files
.vs/**
.vscode/**

# Build files
build/**
.cache/**
out/**
vcpkg_installed/**

# Local-only files
.DS_Store
CMakeFiles/**
CMakeUserPresets.json
CMakeSettings.json
CMakeCache.txt
cmake_install.cmake
src/Makefile
src/CMakeFiles/**
dependencies/src/CMakeFiles/**
src/cmake_install.cmake
vcpkg.json
.clangd
.ccls-root
.ccls-cache
compile_commands.json
imgui.ini

# Temp files 
*.d
*.slo
*.lo
*.o
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
