[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "fastgltf"]
	path = fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "texgui"]
	path = texgui
	url = https://github.com/toneengo/texgui
[submodule "spock"]
	path = spock
	url = https://github.com/toneengo/spock
